<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tck.my.opengl.one">

    <application>
        <activity android:name=".texture.TextureActivity"></activity>
        <activity android:name=".OpenGLTrainOneActivity" />
    </application>

</manifest>